<!DOCTYPE html>
<html ng-app="acumuladorApp"><!--Hay que observar que aquí se inicia el ng-app-->
<head>
    <title>Ej de AngularJS</title>
    <script src="js/angular.min.js"></script>
</head>
<body>
    
    <div ng-controller="acumuladorAppCtrl"><!--Super importante el controlador aquí-->
        
        <!-- Aquí se afecta desde el inicio el valor del texto -->
        <!-- <input type="text" ng-model="datos=0" ng-change="cargar_datos()"> -->
        <input type="text" ng-model="datos" ng-change="cargar_datos()">
        <input type="button" value="+" ng-click="sumar()"> 
        <br>

        {{valor_texto}} <br>

        {{informacion}} <br>

        <!--<div ng-repeat="datos in information">
            {{datos.nombre}}
        </div>-->


    </div>
    
    <script>
        
        var acumuladorApp = angular.module( 'acumuladorApp', [] );
        
        acumuladorApp.controller( "acumuladorAppCtrl",
            
            //[ "$scope",  //Originalmente solo se minificaba el scope.
            [ "$scope", "$http", //Esto es para minificar, pero interfiere con lo de php, hay que minificar las otras variables.
             
                function( $scope, $http )
                {                    
                    $scope.informacion = "Otr caos";

                    /*$scope.cargar_datos = function()
                    {
                        if( $scope.datos != "" )
                        {
                            $scope.informacion = $scope.datos + "<strong>Camilo Figueroa</strong>";
                        }
                    };*/

                    $scope.sumar = function()
                    {
                        var datos = $scope.datos;

                        //En este punto, si el texto no tiene valores, el scope.datos parece no estar definido.
                        console.log( "Entrando al código del evento click. " + $scope.datos );
                        $scope.valor_texto = "je je";

                        //Esta linea es importante porque afecta el texto en su valor sin tratar la propiedad value del componente.
                        //$scope.datos = "Camilo"; //Parece ser que el modelo funciona globalmente de una forma menos específica.

                        //$scope.datos = $scope.datos + 1; //Así lo que hace es concatenar.

                        if( datos == "" || isNaN( datos ) )
                        { 
                            datos = 0; 
                            console.log( "datos: " + datos ); 
                        }

                        $scope.datos = parseInt( datos ) + 1;
                    };
                }
            ] //Si se minifica, se deben minificar todas las llamadas inyecciones, de lo contrario mejor no minifique nada.
        );
        
    </script>

</body>
</html>


