<!DOCTYPE html>
<html ng-app="acumuladorApp"><!--Hay que observar que aquí se inicia el ng-app-->
<head>
    <title>Ej de AngularJS</title>
    <script src="js/angular.min.js"></script>
</head>
<body>
    
    <div ng-controller="acumuladorAppCtrl"><!--Super importante el controlador aquí-->
        
        <!-- Aquí se afecta desde el inicio el valor del texto -->
        <!-- <input type="text" ng-model="datos=0" ng-change="cargar_datos()"> -->
        <input type="text" ng-model="datos" ng-change="cargar_datos()"> 
        <br>

        <!-- El controlador afecta todo lo del div contenedor ng-controller, pero eso no significa que los
        estilos convencionales no funcionen normalmente. Este estilo debería estar en un *.css -->
        <div style="border: dashed 1px;">

            {{informacion}}
        
        </div>
        
        <br>

    </div>
    
    <!-- Aquí se incluye el otro archivo js par probar que el código se puede colocar en otro archivo  -->
    <script src="js/ayudante.js"></script>
    
    <script>
        
        var acumuladorApp = angular.module( 'acumuladorApp', [] );
        
        acumuladorApp.controller( "acumuladorAppCtrl",
            
            //[ "$scope",  //Originalmente solo se minificaba el scope.
            [ "$scope", "$http", //Esto es para minificar, pero interfiere con lo de php, hay que minificar las otras variables.
             
                function( $scope, $http )
                {
                                        
                    
                    //Lo que aparece allá puede ser editado desde el exterior, como un cargue inicial.
                    $scope.informacion = "Aquí se inicializa información.";

                    /**
                     * El evento del texto es afectado por esta función, que en resumen actua al cambio instantaneo.
                     */
                    $scope.cargar_datos = function()
                    {
                        var cad = $scope.datos;
                        var vector;
                        
                        if( cad != "" ) //Para realizar operaciones se revisa que la cadena digitada no sea vacía.
                        {                            
                            vector  = cad.split( "" ); //Separación de una cadena por corte en cada caracter. 
                            cad = "";
                            
                            //Trabajando la concatenación de las partes en un pequeño análisis.
                            for( var i = 0; i < vector.length; i ++ )
                            {
                                cad += vector[ i ] + ";";
                            }
                            
                            //Se agrega la longitud como parte del análisis.
                            cad += "  longitud caracteres: " + vector.length; 
                            
                            //Esta función proviene de otro archivo js.
                            cad = retornar_algo( cad );
                            
                            //Esto sería equivalente al return.
                            $scope.informacion = cad;
                            
                            //Con esta línea y sin las demás se informaría si el número uno ha sido digitado
                            //$scope.informacion = cad.indexOf( "1" );
                        }
                    };
                }
            ] //Si se minifica, se deben minificar todas las llamadas inyecciones, de lo contrario mejor no minifique nada.
        );
        
    </script>

</body>
</html>


